<link rel="stylesheet" href="/css/context.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/demand.css" />
<link rel = "stylesheet" media = "print" href = "/css/myprint.css">
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@gh-pages/qrcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
 <div class='D_main_header'>
    <header>
        <div class='SpravkaObOkonch_input'>
            <input value="Справка выдана по месту требования." type="text" id="registerInputs">
            <p>Изменить место требования</p>
        </div>
        <h2>Справка об обучении</h2>
        <div class="none" style="padding:20px">
            {{!-- 
             --}}
            <button onclick="myPrintFunction()" class="btnPrint">Печать</button>
        </div>
    </header>
</div>
<div class="demand SpravkaObObuch ">
        <div class="demand_top">
            <div class="top-left" style="width: 280px;">
                <h2 class="top-left_title">
                    {{
                        obj.vuz.mo
                    }}
                </h2>
                <p class="text_norm top-left_text">
                    {{
                        obj.vuz.v2
                    }}
                </p>
                <p class="text_norm top-left_text">
                    {{
                        obj.vuz.faculty
                    }}
                </p>
                <p class="top_adr text_norm">
                    {{
                        obj.vuz.adres
                    }}
                </p>
            </div>
            <div class="demand-top_left">
                <h2 class="fs18t">
                    СПРАВКА № 2-10235-156682-3
                </h2>
                <h5 class="text_norm">
                    Настоящая справка подтверждает то, что
                </h5>
                <p class=" italic">
                    {{
                        obj.faculty.s_fio
                    }}
                </p>
                <p class="text-norm" style="width: 380px; margin: 0 auto    ;">
                    действительно является {{ obj.stud }} {{
                        obj.faculty.id_rate
                    }}-курса группы {{
                        obj.faculty.p20
                    }} направления ({{obj.faculty.p20}}).
                </p>
            </div>
        </div>
    <p class="text_norm">
        Общий срок обучения: 4 года.
    </p>
    <p class="text_norm" id="resultasd">
        Справка выдана по месту требования.
    </p>
    <div class="educ_footer">
        <div class="educ-footer_left">
            <div id="sadas" class="qrcode" ></div>
            <p>
                {{ obj.data }} г., {{ obj.user }}
            </p>
        </div>
        <div class="educ-footer_right">
            <p class="educ-footer_right_first">
                {{
                    obj.post.insert_pole
                }}
            </p>
            <p class="educ-footer_right_second">
                {{
                    obj.insPole.insert_pole
                }}
            </p>
        </div>
    </div>
    </div>

    <script type="text/javascript" >
        new QRCode(document.querySelector(".qrcode"), document.querySelector(".qrcode").id);
    
        document.querySelector("#registerInputs").oninput = function() {
            document.querySelector('#resultasd').innerHTML = document.querySelector("#registerInputs").value;
        }

    </script>
    <script src="/js/print.js"></script>